*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    min-height: 100vh;
    background-color: #2f363e;
}

#time{
    justify-self:baseline;
    align-self: flex-start;
    display: flex;
    gap: 35px;
    color: white;
    margin-left: 0px;
}

#time .circle {
    position: relative;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time .circle svg {
    position: relative;
    width: 120px;
    height: 120px;
    transform: rotate(270deg);
    
}
#time .circle svg circle{
    
    width: 80px;
    height: 80px;
    fill: transparent;
    stroke: #191919;
    stroke-width: 4;
    transform: translate(5px, 5px)
    
}
#time .circle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 315;
}

#time div{
    position: absolute;
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
}


#time .ap{
    position: relative;
    font-size: 0.8em;
    transform: translate(-20px);
}

.dots{
    position: absolute;
    width: 80%;
    height: 80%;
    z-index: 5;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.dots::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 0 4px var(--clr),
    0 0 30px var(--clr)
}
